.modal {
  width: 320px;
  background-color: #2b3647;
  border-radius: 20px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 567px;
  }

  @media (min-width: $desktop-width) {
    width: 670px;
  }
}

.modal__close-button {
  position: absolute;
  top: 22px;
  right: 16px;
  display: block;
  width: 34px;
  height: 34px;

  &::before {
    content: "";
    position: absolute;
    top: 16px;
    left: 7px;
    width: 20px;
    height: 3px;
    background-color: $color-white;
    transform: rotate(45deg);
    border-radius: 10px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 16px;
    left: 7px;
    width: 20px;
    height: 3px;
    background-color: $color-white;
    transform: rotate(-45deg);
    border-radius: 10px;
  }

  @media (min-width: $desktop-width) {
    width: 45px;
    height: 45px;
    top: 31px;
    right: 40px;

    &::before {
      top: 16px;
      left: 7px;
      width: 35px;
    }

    &::after {
      top: 16px;
      left: 7px;
      width: 35px;
    }
  }
}

.modal__content {
  margin: 45px 16px;

  @media (min-width: $desktop-width) {
    margin: 37px 124px 90px 70px;
  }
}
