.promo {
  padding-bottom: 48px;
  background-color: $background-color;

  @media (min-width: $desktop-width) {
    padding: 98px 0 260px;
  }
}

.promo__slogan {
  position: relative;
  font-size: 25px;
  line-height: 110%;
  text-align: center;
  width: 92%;
  color: $color-white;
  margin: 0 auto 348px;

  &::after {
    content: "";
    position: absolute;
    top: 96px;
    left: 0;
    width: 100%;
    height: 321px;
    background-image: url("../img/man.png");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/man@2x.png");
      background-size: contain;
    }

    @media (min-width: $desktop-width) {
      top: -142px;
      width: 928px;
      height: 820px;
      background-image: url("../img/man-desktop.png");
      left: 461px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/man-desktop@2x.png");
      }
    }
  }

  @media (min-width: $tablet-width) {
    width: 48%;
  }

  @media (min-width: $desktop-width) {
    font-size: 72px;
    text-align: left;
    line-height: 104%;
    letter-spacing: -2px;
    max-width: 725px;
    margin: 0 auto 35px 320px;
  }
}

.promo__offer {
  font-size: 18px;
  text-align: center;
  width: 76%;
  margin: 0 auto 40px;

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    font-size: 23px;
    text-align: left;
    max-width: 499px;
    margin: 0 auto 75px 320px;
  }
}

.promo__button {
  display: block;
  font-family: "GT Walsheim Pro", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  color: #242424;
  padding: 16px 30px;
  margin: 0 auto;
  max-width: 277px;
  background-image: linear-gradient(to right, #1dd844, #cbf62e);
  border-radius: 15px;
  box-shadow: 0 0 20px 0 #1dd844;

  &:hover {
    box-shadow: 0 0 20px 0 #1dd844, 0 0 20px 0 #cbf62e;
  }

  &:active {
    box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 #1dd844, 0 0 20px 0 #cbf62e;
  }

  @media (min-width: $desktop-width) {
    max-width: 348px;
    font-size: 20px;
    margin: 0 auto 10px 320px;
    padding: 20px 30px;
    letter-spacing: 0.65px;
  }
}

.promo__button[disabled="disabled"] {
  color: rgba(36, 36, 36, 0.5);
  box-shadow: none;
}
